@model IntegratedSystems.Domain.Domain_Models.Vaccine
<div class="container">
    <form method="post" asp-action="AddProductToCart">


        <div class="row mt-4">
            <div class="form-group">
                <label asp-for="Manufacturer" class="control-label"></label>
                <input asp-for="Manufacturer" class="form-control" />
                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>
        </div>

        <div class="row mt-4">
            <div class="form-group">
                <label asp-for="DateTaken" class="control-label"></label>
                <input asp-for="DateTaken" type="number" class="form-control" />
                <span asp-validation-for="DateTaken" class="text-danger"></span>
            </div>
        </div>
        <div class="row mt-4">
            <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <input asp-for="PatientId" type="number" class="form-control" />
                <span asp-validation-for="PatientId" class="text-danger"></span>
            </div>
        </div>

        <div class="row mt-4">
            <button type="submit" class="btn btn-success">Create</button>
        </div>
    </form>

</div>
