

<div class="alert-danger m-5"style="color:red;">Нема останато вакцини во вакцинален пункт @ViewBag.Name</div>

<a asp-action="Index" asp-controller="VaccinationCenters" class="btn btn-danger">Врати се</a>
